
/*#region követelmények*/
.password-req {
    background-color: #c2bbc4;
    border: 1px solid #716c72;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    font-size: 14px;
}
.password-req span {
    flex: 1;
}
.password-req h3 {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #423a3a;
    font-weight: 600;
}

.password-req ul {
    list-style: none;
    padding: 0;
}

.password-req li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    transition: all 0.2s ease;
}

.password-req li:last-child {
    margin-bottom: 0;
}
/*#endregion követelmények*/

/*#region követelmény teljesítve*/
.requirement-met {
    color: rgb(49, 80, 49);
}
/*#endregion követelmény teljesítve*/

/*#region követelmény nem teljesítve*/
.requirement-not-met {
    color: rgb(129, 86, 78);
    
}
/*#endregion követelmény nem teljesítve*/

/*#region ikonok*/
.check-icon {
    margin-right: 8px;
    color: #2b462c;
    background-color: rgba(46, 125, 50, 0.1);
    border-radius: 50%;
    padding: 2px;
}

.x-icon {
    margin-right: 8px;
    color: #ff0000;
    background-color: rgba(211, 47, 47, 0.1);
    border-radius: 50%;
    padding: 2px;
}
/*#endregion ikonok*/

/*#region animációk*/

@keyframes pulse {
    0% { opacity: 0.7; }
    50% { opacity: 1; }
    100% { opacity: 0.7; }
}

.requirement-met .check-icon {
    animation: pulse 1s ease-in-out;
}
/*#endregion animációk*/


/*#region reszponzív */
@media (max-width: 768px) {
    .password-req {
        padding: 10px;
    }
    
    .password-req h3 {
        font-size: 14px;
    }
    
    .password-req li {
        font-size: 12px;
    }
}
/*#endregion reszponzív */

/*#region sötét mód*/

@media (prefers-color-scheme: dark) {
    .password-req {
        background-color: #a880cf;
        border: 1px solid #4a5568;
    }

    .requirement-met {
        color: #254e2c;
    }
    .requirement-not-met{
        color: #912424;
    }
}
/*#endregion sötét mód*/