.planner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial" , sans-serif;
  color: #444;
}

.rooms{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.category-button{
    padding: 10px 20px;
    background-color: #d1a884;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.category-button:hover{
    background-color: #b08463;
}
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    overflow-y: auto;
    margin-top: 1rem;
    max-height: 300px;
}

.product-image{
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 350px;
    font-size: 0.9rem;
    justify-content: space-between;
    text-align: center;
}
.product-card img{
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
}
.product-card h3{
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
.product-card p{
    font-size: 14px;
    color: #666;
}
.buy-btn {
   margin-top: auto;
   background-color: #b08463;
   color: white;
   padding: 10px 20px;
   border-radius: 4px;
   text-decoration: none;
   border: none;
   font-size: 14px;
   transition: 0.3s;
   cursor: pointer;
}

.buy-btn:hover {
    background-color: #8e654a;
}
.tervezoterulet{
    margin-top: 20px;
    width: 800px;
    height: 600px;
    border: 2px dashed #ccc;
    background-color: #f9f9f9;
    position: relative;
    overflow: hidden;
}
.placed-product{
    cursor: grab;
    border: 1px solid #ddd;
    background-color: white;
    padding: 5px;
    position: absolute;
    transform-origin: center;
}

.placed-product img{
    width: 100px;
    height: auto;
    pointer-events: none;
}
.zoom-controls{
    display: flex;
    gap: 5px;
    margin-top: 5px;
}
.img{
    transition: transform 0.2s ease-in-out;
}
.zoom-controls button{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    padding: 2px 5px;
}
.design-item{
    position: absolute;
    cursor: move;
}
.placed-area{
    position: absolute;
    display: inline-block;
}

.remove-btn{
background-color: red;
color: white;
border: none;
border-radius: 3px;
cursor: pointer;
font-size: 12px;
margin-top: 5px;
top: -10px;
left: -10px;
}